{% extends "base.html" %}

{% block title %}{{ _("Quick Response Code Service") }}{% endblock %}

{% block main %}

    <header class="header">
        <div class="header-container">
            <div class="social-wrap">
                <div class="fb-like" data-href="http://qr4u.online" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                <div class="g-plusone" data-size="medium" data-href="http://qr4u.online"></div>
                <a href="https://twitter.com/share" class="twitter-share-button"
                   data-url="http://qr4u.online">Tweet</a>
            </div>

            <ul class="header-menu">
                <a href="#scan"><li class="header-button">{{ _("Scan") }}</li><a/>
                <a href="#url"><li class="header-button">{{ _("URL") }}</li><a/>
                <a href="#create"><li class="header-button">{{ _("Create") }}</li><a/>
                <a href="#about"><li class="header-button">{{ _("About") }}</li><a/>
                <a href="#contact"><li class="header-button">{{ _("Contact") }}</li><a/>
            </ul>
        </div>
    </header>

    {#
<section class="module parallax parallax-1">
  <div class="container">
    <h1>
      {{ _("Scan") }}
    </h1>
    <div class="see-farther-wrap">
      <a href="#leave-request" style="padding-right: 55px;"><div class="see-farther">&#xf091;</div></a>
    </div>
  </div>
</section>
#}

    <section class="module content scan">
        <div class="container">
            <h2 id="scan">{{ _("Scan") }}</h2>
            <p>
                {{ _('Drop QR Code image file to box below or') }}
            </p>
            <p>
                <input id="scan-input" type="file" accept="image/*" capture="camera"
                       ondragover="onDragOver(event);" ondragleave="onDragLeave(event);"
                       ondragend="onDragEnd(event);" ondrop="onDragDrop(event);"/>
            </p>
            <p>
                <img id="scan-preview" class="src-preview"/>
            </p>
            <p id="scan-result"></p>
        </div>
    </section>

    <section class="module content url">
        <div class="container">
            <h2 id="url">{{ _("URL") }}</h2>

            <p>
                {{ _('Enter URL to QR Code image file') }}
            </p>
            <p>
                <input id="url-input" type="url"/>
                <img id="url-spinner" src="{{ url_for('static', filename='css/img/spinner.gif') }}" class="spinner"/>
            </p>
            <p>
                <img id="url-preview" class="src-preview"/>
            </p>
            <p id="url-result"></p>
        </div>
    </section>

    <section class="module content create">
        <div class="container">
            <h2 id="create">{{ _("Create") }}</h2>

            <p>
                {{ _('Enter a text to create QR Code image') }}
            </p>
            <p>
                <input id="new-input" type="text"/>
                <img id="new-spinner" src="{{ url_for('static', filename='css/img/spinner.gif') }}" class="spinner"/>
            </p>
            <div id="new-qrcode"></div>
        </div>
    </section>

    <section class="module content about">
        <div class="container">
            <h2 id="about">{{ _("About") }}</h2>

            <p>
                This site provides a QR Code scanner directly in the browser, implemented in JavaScript.<br>
                Use your mobile device camera or choose a file.
            </p>
            <p>
                The service provided free of charge.<br>If you like this site please
                consider leave your like via social buttons on the top of the page or use share buttons.
            </p>
            <p>
                If you have any suggestions or whatever feel free to use the form below to contact me.
            </p>
        </div>
    </section>

    <section class="module content contact">
        <div class="container">
            <h2 id="contact">{{ _("Contact") }}</h2>

            <div class="paragraph">
                <form id="contact-form" action="contact/" method="post">
                    <div class="name-mail">
                        <input name="name" type="text" placeholder="{{ _("Name") }}" required/>
                        <input name="email_address" type="email" placeholder="{{ _("E-mail") }}" required/>
                    </div>
                    <textarea name="message" placeholder="{{ _("Message") }}" required></textarea>
                    <button type="submit">{{ _("Send") }}</button>
                </form>
            </div>
        </div>
        <footer class="footer">
            <div class="container">
                <span class="copyright">&copy;2017 qr4u.online</span>
                <ul>
                    <a href="#scan"><li>{{ _("Scan") }}</li></a>
                    <a href="#url"><li>{{ _("URL") }}</li></a>
                    <a href="#create"><li>{{ _("Create") }}</li></a>
                    <a href="#about"><li>{{ _("About") }}</li><a/>
                    <a href="#contact"><li>{{ _("Contact") }}</li><a/>
                </ul>
            </div>
        </footer>
    </section>

{% endblock %}

{% block scripts %}
    <script defer src="{{ url_for('static', filename='js/lib/alertify.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/lib/opentip-jquery.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/lib/mobile-detect.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.magnific-popup.js') }}"></script>
    <script>
{#
        var main = {
            onGoogleShareClick: function ()
            {
                window.open('https://plus.google.com/share?url=http://example.com',
                        undefined, 'width=600,height=400');
            },

            onFacebookShareClick: function ()
            {
                window.open('http://www.facebook.com/sharer/sharer.php?u=http://example.com',
                        undefined, 'width=600,height=400');
            }
        };
#}

        function onDragOver(e)
        {
            $('#scan-input').addClass('drag-hover');
            console.log("Drag over");
        }

        function onDragLeave(e)
        {
            $('#scan-input').removeClass('drag-hover');
            console.log("Drag leave");
        }

        function onDragEnd(e)
        {
            $('#scan-input').removeClass('drag-hover');
            console.log("Drag end");
        }

        function onDragDrop(e)
        {
            $('#scan-input').removeClass('drag-hover');
            console.log("Drag drop");
        }

        function urlify(text)
        {
            var urlRegex = /(https?:\/\/[^\s]+)/g;
            return text.replace(urlRegex, function(url) {
                return '<a target="_blank" href="' + url + '">' + url + '</a>';
            })
        }

        function onNewQRCodeLoad(e)
        {
            $('#new-spinner').hide();
        }

        function createQrCode(text)
        {
            $('#new-spinner').show();
            $("#new-qrcode").html('<img onload="onNewQRCodeLoad(event);" src="https://chart.googleapis.com/chart?chs=150x150&cht=qr&chl={0}"/>'.format(encodeURIComponent(text)));
        }

        $(function ()
        {
            var md = new MobileDetect(window.navigator.userAgent);

            if (md.mobile())
            {
                $("section.module.parallax").css("background-attachment", "scroll");
            }
        })

        $(function ()
        {
            var $scanInput = $('#scan-input');
            var $scanPreview = $('#scan-preview');
            $scanPreview.on('load', function() {
                var qr = new QCodeDecoder();
                qr.decodeFromImage($scanPreview.get(0), function (err, result) {
                  if (err) {
                      $('#scan-result').html('<span style="color:red;">Something goes wrong: {0}</span>'.format(err.toString()));
                  } else {
                      $('#scan-result').html(urlify(result));
                  }
                });
            });

            $scanInput.change(function (e)
            {
                var input = $scanInput.get(0);
                if (input.files && input.files[0])
                {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $scanPreview.attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                } else
                {
                    $scanPreview.attr('src', null);
                    $('#scan-result').empty();
                }
            });

            var $urlInput = $('#url-input');
            var $urlPreview = $('#url-preview');
            var $urlSpinner = $('#url-spinner');

            $urlPreview.on('load', function() {
                var qr = new QCodeDecoder();
                qr.decodeFromImage($urlPreview.get(0), function (err, result) {
                  if (err) {
                      $('#url-result').html('<span style="color:red;">Something goes wrong: {0}</span>'.format(err.toString()));
                  } else {
                      $('#url-result').html(urlify(result));
                  }
                });
            });

            $urlInput.change(function(e) {
                if (!e.target.value)
                {
                    $('#url-result').empty();
                    $urlPreview.attr('src', null);
                    $urlSpinner.hide();
                    return;
                }

                $urlSpinner.show();
                $.get('/fetch/?url={0}'.format(e.target.value), function(data, status, xhr) {
                    $urlPreview.attr('src', data);
                }).fail(function(jqXHR, textStatus, errorThrown) {
                    $('#url-result').html('<span style="color:red;">Something goes wrong: {0}</span>'.format(jqXHR.responseText));
                }).always(function(){
                    $urlSpinner.hide();
                });
            });

            var $newInput = $('#new-input');
            var $newQRCode = $('#new-qrcode');
            $newInput.change(function(e) {
                $newQRCode.empty();

                if (e.target.value)
                {
                    createQrCode(e.target.value);
                }
            });

            {#    $('input.currency').currencyInput();#}

            $(window).scroll(function (e)
            {
                var distanceY = $(window).scrollTop(),
                        shrinkOn = 0,
                        $header = $(".header");

                var enabled = distanceY > shrinkOn;
                $header.toggleClass("smaller", enabled)
                        .toggleClass("header-fixed", enabled)
                        .toggleClass("header-transparent", enabled);
            });

            $('a[href*=#]:not([href=#])').click(function ()
            {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') &&
                        location.hostname == this.hostname)
                {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length)
                    {
                        $('html,body').animate({
                            scrollTop: target.offset().top - 80
                        }, 700);
                        return false;
                    }
                }
            });

            $("#contact-form").submit(function ()
            {
                $.post($(this).attr('action'), $(this).serialize(),
                        function (data, status, xhr)
                        {
                            alertify.success(data);
                        }).fail(function (xhr, status, error)
                        {
                            alertify.error(xhr.responseText);
                        });
                return false;
            });
        }); // jquery on ready
    </script>
{% endblock %}
